<style>
.div1{
  background-color: black;
}
</style>


<div class="container">
  <div class="div1">
  <div class="row">
    <div class="col-sm-3">
      <div class="heading-footer">
        <h4>Follow us</h4>
        <%= image_tag('fb.png', :size => '50x50')%>
        <%= image_tag('instagram.jpg', :size => '50x50')%>
        <%= image_tag('twitter.png', :size => '50x50')%>
  </div>

</div>

    <div class="col-sm-3 mg25-xs">
        <div class="heading-footer"><h4>Contact</h4></div>
        <p><small class="address">123 Grapevine Road</small></p>
        <p><small class="address">Long Island, NY</small></p>
          <p><small class="phone">(700)455-800</small></p>
        <p></span><small class="address"></small></p>
    </div>
</div>

  <div class="row">
    <hr class="dark-hr">
    <div class="col-sm-8">
      <p class="copyright">@ 2016 speedwaygarage All rights reserved.</p>
    </div>
  </div>
</div>
</div>
