<h1> Adjustments</h1>


<h3>From suspensions to setups we do it all here at SpeedWay. Just let us know what sort of<br>
adjustment you are looking for and well be sure to provide our quality service. If you have<br>
a part that needs repair, no worry we can simply replace the part if we have it in stock.<br>
No worries my friend.</h3>
<%= image_tag("auto_repair.jpg", :size => '600x400')%>
