
<h1 align="left">
  <%="Categories"%></h1>
<% @categories.sort_by(&:name).each do |category|%>
<ol align="left">
<a href="/categories/<%=category.id%>">
  <%= category.name%> 
</ol>
<%end%>
</a>
</div>
