<h1>Oil Change</h1>



<h3>Here at SpeedWay we are make sure that every oil change is quick<br>
and painless allowing for each customer to take their car to our<br>
shop and leave right on time.</h3>
<%= image_tag("oil_change.jpg", :size => '600x400')%>
