<% if line_item == @current_part%>
<tr id="current_part">
  <%else%>
<tr>
  <%end%>
  <td><%= line_item.quantity %> &times;</td>
  <td><%= line_item.part.name%></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price)%></td>
</tr>
